.controls {
  width: 525px;
  background-color: #d8f0ff;
  margin: 50px auto 0;
  border-radius: 8px;
  padding: 25px 20px 30px;

  .heading {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 0;
  }
}